# Python / venv
env/
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.sqlite3
# ignore any "media" folder anywhere
**/media/
staticfiles/
static_root/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store

# Large binaries (belt & suspenders)
*.zip
*.mp4
